<section class="blog" data-id="{{blogData.id}}">
    <h2>{{blogData.title}}</h2>
    <p>{{blogData.body}}</p>
    <p class="text-end">
        <b>Posted by {{blogData.username}} on {{formatDate blogData.dateCreated}}</b>
    </p>
</section>
<section id="comments" class="container">
    <h2>Comments Section</h2>
    {{#if loggedIn}}
    <article class="add-comment">
        <p>
            <button class="btn-grad collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#new-comment"
                aria-controls="new-comment">
                Add a comment
            </button>
        </p>
        <div class="collapse" id="new-comment" style="">
            <div class="card card-body">
                <form id="comment-post-form">
                    <label for="comment-message" class="form-label">Message</label>
                    <textarea class="form-control" id="comment-message" rows="5"></textarea>
                    <input type="submit" value="Post" id="comment-post-btn" class="btn-grad">
                </form>
            </div>
        </div>
    </article>
    {{/if}}
    <ol>
        {{#each commentData}}
        <li class="comment">
            <p class="user">User {{this.username}} commented on {{formatDate this.dateCreated}}</p>
            <p class="message">{{this.message}}</p>
            {{#if (sameUser @root.userId this.userId) }}
            <article class="edit-comment">
                <p>
                    <button class="btn-grad collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#comment-{{this.id}}" aria-controls="comment-{{this.id}}">
                        Edit Comment
                    </button>
                </p>
                <div class="collapse" id="comment-{{this.id}}" style="">
                    <div class="card card-body">
                        <form id="comment-edit-form" data-id="{{this.id}}">
                            <label for="comment-message-{{this.id}}" class="form-label">Message</label>
                            <textarea class="form-control" id="comment-message-{{this.id}}" rows="5">{{this.message}}</textarea>
                            <section class="edit-btn">
                                <input type="submit" value="Update" class="btn-grad">
                                <button type="button" class="btn-grad" data-id="{{this.id}}">Delete</button>
                            </section>
                        </form>
                    </div>
                </div>
            </article>
            {{/if}}
        </li>
        {{/each}}
    </ol>
</section>

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}