<section class="blog">
    <h2>{{blogData.title}}</h2>
    <p>{{blogData.body}}</p>
    <p class="text-end">
        <b>Posted by {{blogData.username}} on {{formatDate blogData.dateCreated}}</b>
    </p>
</section>
<section id="comments" class="container">
    <h2>Comments Section</h2>
    <button class="btn-grad">Add a comment</button>
    <ol>
        {{#each commentData}}
        <li class="comment">
            <p class="user">User {{this.username}} commented</p>
            <p class="message">{{this.message}}</p>
        </li>
        {{/each}}
    </ol>
</section>