<article class="dashboard">
    <article class="add-blog">
        <p>
            <button class="btn-grad collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#new-blog"
                aria-controls="new-blog">
                Add a new blog
            </button>
        </p>
        <div class="collapse" id="new-blog" style="">
            <div class="card card-body">
                <form id="blog-post-form">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" class="form-control">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" rows="5"></textarea>
                    <input type="submit" value="Post" id="blog-post-btn" class="btn-grad">
                </form>
            </div>
        </div>
    </article>
    <section id="user-blogs">
        <h2>{{this.username}}'s blogs</h2>
        <ol>
            {{#each blogData}}
            <li class="blog d-flex flex-wrap">
                <p>
                    <button class="btn-grad collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#blog-{{this.id}}" aria-controls="blog-{{this.id}}">
                        {{this.title}}
                    </button>
                </p>
                <p>Posted on {{formatDate this.dateCreated}}</p>
            </li>
            <div class="collapse" id="blog-{{this.id}}" style="">
                <div class="card card-body">
                    <form class="blog-edit-form" data-id="{{this.id}}">
                        <label for="title-{{this.id}}" class="form-label">Title</label>
                        <input type="text" id="title-{{this.id}}" class="form-control" value="{{this.title}}">
                        <label for="message-{{this.id}}" class="form-label">Message</label>
                        <textarea class="form-control" id="message-{{this.id}}" rows="5">{{this.content}}</textarea>
                        <section class="edit-btn">
                            <input type="submit" value="Update" class="btn-grad">
                            <button type="button" class="btn-grad" data-id="{{this.id}}">Delete</button>
                        </section>
                    </form>
                </div>
            </div>
            {{/each}}
        </ol>
    </section>
</article>

<script src="/js/dashboard.js"></script>